$Very_Dark_Blue: hsl(233, 47%, 7%);
$Dark_Desaturated_Blue: hsl(244, 38%, 16%);
$Soft_Violet_I: hsl(277, 64%, 61%);
$Soft_Violet_II: hsla(277, 64%, 61%, 0.2);
$White: hsl(0, 0%, 100%);
$Slightly_Transparent_White_I: hsla(0, 0%, 100%, 0.75); //main paragraph
$Slightly_Transparent_White_II: hsla(0, 0%, 100%, 0.6); //stat headings

.attribution {
    font-size: 0.6875rem; 
    text-align: center;
}

.attribution a { 
    color: hsl(228, 45%, 44%);
}