.attribution {
  font-size: 0.6875rem;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

@media screen and (min-width: 20.3125em), (min-width: 23.4375em), (min-width: 26.5625em), (min-width: 33.75em), (min-width: 45em) {
  html {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 48em), (min-width: 58.75em), (min-width: 64em), (min-width: 80em), (min-width: 90em), (min-width: 120em), (min-width: 135em), (min-width: 160em), (min-width: 180em), (min-width: 200em), (min-width: 226.25em), (min-width: 240em) {
  html {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

body {
  display: inherit;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 375px;
  background-color: #090b1a;
}

@media screen and (min-width: 23.4375em), (min-width: 26.5625em), (min-width: 33.75em), (min-width: 45em) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    min-width: 375px;
  }
}

@media screen and (min-width: 48em), (min-width: 58.75em), (min-width: 64em), (min-width: 80em), (min-width: 90em), (min-width: 120em), (min-width: 135em), (min-width: 160em), (min-width: 180em), (min-width: 200em), (min-width: 226.25em), (min-width: 240em) {
  body {
    min-height: 800px;
    min-width: 1440px;
  }
}

main {
  height: 780px;
  width: 325px;
  background-color: #1b1938;
  font-family: 'Lexend Deca', sans-serif;
  border-radius: 8px;
  margin: auto;
}

main #mobile-img {
  background-image: url(../images/image-header-mobile.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 240px;
  width: 325px;
}

main #mobile-img .overlay-i {
  height: 240px;
  opacity: 65%;
  background-color: #aa5cdb;
}

main #mobile-img .overlay-i .overlay-i-i {
  height: 240px;
  opacity: 0%;
  background-color: rgba(170, 92, 219, 0.2);
}

@media (min-width: 48em) {
  main #mobile-img {
    display: none;
  }
}

main #desktop-img {
  background-image: url(../images/image-header-desktop.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 446px;
  width: 540px;
}

main #desktop-img .overlay-ii {
  height: 446px;
  opacity: 65%;
  background-color: #aa5cdb;
}

main #desktop-img .overlay-ii .overlay-ii-ii {
  height: 446px;
  opacity: 0%;
  background-color: rgba(170, 92, 219, 0.2);
}

@media (max-width: 47.9375em) {
  main #desktop-img {
    display: none;
  }
}

main #mobile-img, main .overlay-i, main .overlay-i-i {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

main #desktop-img, main .overlay-ii, main .overlay-ii-ii {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

main .content {
  text-align: center;
}

main .content h2 {
  color: white;
  margin: 38px 40px 0px 40px;
  line-height: 1.35em;
}

main .content h2 span {
  color: #aa5cdb;
}

main .content p {
  color: rgba(255, 255, 255, 0.6);
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.732em;
  margin: 18px 30px 38px 30px;
}

main .tags {
  text-align: center;
  font-family: 'Inter', sans-serif;
}

main .tags h2 {
  color: white;
  margin: 20px auto 8px auto;
}

main .tags p {
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 1px;
  margin: 6px auto 28px auto;
}

@media screen and (min-width: 48em), (min-width: 58.75em), (min-width: 64em), (min-width: 80em), (min-width: 90em), (min-width: 120em), (min-width: 135em), (min-width: 160em), (min-width: 180em), (min-width: 200em), (min-width: 226.25em), (min-width: 240em) {
  main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 540px 540px;
        grid-template-columns: 540px 540px;
    -ms-grid-rows: 446px 446px;
        grid-template-rows: 446px 446px;
    height: 446px;
    width: 1080px;
    margin: auto;
    padding: auto;
  }
  main .content {
    text-align: left;
  }
  main .content h2 {
    font-size: 34px;
    margin: 68px 68px 10px 70px;
  }
  main .content p {
    font-size: 14px;
    margin: 26px 120px 54px 70px;
  }
  main .tags {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 140px 140px 140px;
        grid-template-columns: 140px 140px 140px;
    text-align: left;
    margin: 40px 100px 0px 70px;
  }
}

.attribution {
  position: fixed;
  bottom: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  text-align: center;
  padding: 0.625em;
  opacity: 0%;
  font-size: 0.8em;
}

.attribution::before {
  content: '';
  text-align: center;
  position: fixed;
  bottom: 100%;
  width: 100%;
  height: 2.5em;
  left: 0;
  opacity: 0%;
}

.attribution:hover {
  cursor: pointer;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transform: matrix();
          transform: matrix();
  -webkit-animation: pop-up 2s ease 1 forwards;
          animation: pop-up 2s ease 1 forwards;
  background: none;
  text-align: center;
  width: 100%;
  padding: 0%;
  left: 0;
  margin-bottom: 3em;
  opacity: 100%;
}

@-webkit-keyframes pop-up {
  0% {
    display: none;
  }
  30% {
    display: block;
    opacity: 35%;
  }
  70% {
    display: block;
    opacity: 75%;
  }
  100% {
    display: block;
    opacity: 100%;
  }
}

@keyframes pop-up {
  0% {
    display: none;
  }
  30% {
    display: block;
    opacity: 35%;
  }
  70% {
    display: block;
    opacity: 75%;
  }
  100% {
    display: block;
    opacity: 100%;
  }
}
/*# sourceMappingURL=styles.css.map */